<div class="update_form mypage_outbox">
<h2 class="margin-0">ユーザー情報</h2>
<hr />
<div class="mypage_inbox">
  <table>
    <tr>
      <th width="130px">ユーザー名</th>
      <td><%= @member.user_name %></td>
      </tr>
      <tr>
        <th>職業</th>
        <td><%= @member.job %></td>
      </tr>
      <tr>
        <th>登録日</th>
        <td><%= @member.created_at %></td>
      </tr>
    </table>
<h2>投稿数</h2>
<table>
    <tr>
      <th width="130px">過去30日</th>
      <td><%= @month_history.count %></td>
    </tr>
    <tr>
      <th>全期間</th>
      <td><%= @all_history.count %></td>
    </tr>
  </table>

<h2>継続中のカテゴリ</h2>
<% Field.where(user_id: @member.id, is_available: 1).each do |fd| %>
<div class="set_field_outbox_mini">
  <font style="color: #<%= fd.color_code %>; font-size: 200%;">●</font><%= fd.category2 %>
  </div>
<% end %>

</div>
</div>

<div class="mypage_calender_box">
  <div class="mypage_calender" id="mypage_calender">
    <%= render :partial => "/mypage/redraw", :locals => { local_histories: @my_hisories } %>
  </div>
</div>


<div id="history_box" class="mypage_outbox">
  <h2 class="margin-0"> <%= @member.user_name %>の実績</h2>
  <%= render :partial => "mypage/histories", :locals => { local_histories: @member_hisories, who: 0 } %>
</div>

<div class="after_float"></div>
