<h2>
  <% if who === 1 %>
  <%= link_to "#{@users.user_name}", mypage_redraw_history_path(who: "2"), :method => 'post', remote: true %> |
  最新
  <% end %>
  <% if who === 2 %>
    <%= @users.user_name %> |
    <%= link_to "最新", mypage_redraw_history_path(who: "1"), :method => 'post', remote: true %>
  <% end %>
</h2>
<hr />
<div id="history">
<% local_histories.each do |ev| %>
    <font color="#<%= ev.color_code %>">●</font>
    <a href="/detail/<%= ev.id %>">
      <%= ev.category1 %>：<%= ev.category2 %>
    </a>
    ＠
    <a href="/member/<%= ev.users_id %>">
      <%= ev.user_name %>（<%= ev.job %>）
    </a>
    <%= simple_format(ev.content) %>
    <span><%= ev.created_at %></span>
    <hr width= "95%" />
<% end %>
</div>
<hr />
