<div class="update_form">
<h2>今日の実績を共有しよう！</h2>
<%= form_for @histories, :url => { :controller => :mypage, :action => :create } do |f| %>
  <div class="field">
    <%= f.label :"カラーコード" %>
    <%= f.text_field :color_code %>
  </div>

  <div class="field">
    <%= f.label :"大カテゴリ" %>
    <%= f.text_field :category1 %>
  </div>

  <div class="field">
    <%= f.label :"小カテゴリ" %>
    <%= f.text_field :category2 %>
  </div>

  <div class="field">
    <%= f.label :"本文" %><br />
    <%= f.text_area :content, :size=>"60x30" %>
  </div>

  <div class="field">
    <%= f.label :"公開状況" %><br />
    <%= f.select :is_open, options_for_select([["公開する", "1"], ["公開しない", "2"]]) %>
  </div>
<br />
<%= f.submit "追加" %>
<% end %>
</div>

<div class="update_form mypage_calender">
<h2>今月の実績</h2>
<%= carender collection: @my_hisories, column: :created_at do |date, histories| %>

  <%= date.day %>
    <% histories.each do |his|  %><br />
        <font color="#<%= his.color_code %>">●</font>
    <% end %>
<% end %>

</div>

<div class="box">
  <h2> <%= @users.user_name %>の実績</h2>
  <%= render :partial => "histories", :locals => { local_histories: @my_hisories } %>
</div>


<div class="box">
  <h2>みんなの実績</h2>
<%= render :partial => "histories", :locals => { local_histories: @everyone_hisories } %>
</div>

<div class="after_float"></div>
