<div class="update_form">
<h2>今日の実績</h2>
<%= form_for @histories, :url => { :controller => :mypage, :action => :create } do |f| %>
  <div class="field">
    <%= f.label :"カラーコード" %><br />
    <%= f.text_field :color_code %>
  </div>

  <div class="field">
    <%= f.label :"大カテゴリ" %><br />
    <%= f.text_field :category1 %>
  </div>

  <div class="field">
    <%= f.label :"小カテゴリ" %><br />
    <%= f.text_field :category2 %>
  </div>

  <div class="field">
    <%= f.label :"本文" %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :"公開状況" %><br />
    <%= f.select :is_open, options_for_select([["公開する", "1"], ["公開しない", "2"]]) %>
  </div>
<br />
<%= f.submit "追加" %>
<% end %>
</div>
<hr />

<div class="box">
  <h2>みんなの実績</h2>
  <% @everyone_hisories.each do |ev| %>
      <hr width= "95%" />
      <font color="#<%= ev.color_code %>">●</font>
      <%= ev.category1 %>（<%= ev.category2 %>）
      <%= simple_format(ev.content) %>
      <span><%= ev.created_at %></span>
  <% end %>
</div>


<div class="box">
  <h2>自分の実績</h2>
  <% @my_hisories.each do |mv| %>
    <hr width= "95%" />
      <font color="#<%= mv.color_code %>">●</font>
      <%= mv.category1 %>（<%= mv.category2 %>）
      <% if mv.is_open === 2 %>
        <b>※非公開</b>
      <% end %>
    <%= simple_format(mv.content) %>
    <span><%= mv.created_at %></span>
  <% end %>
</div>

<div class="after_float"></div>
